<%- include ("../templates/encabezado") %>
<%- include ("../templates/menu") %>

<body class="text-white" style="background-color: #00CBA5;">

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <div class="p-4 rounded" style="background-color: #00a778;">
          <h2>Hola <span class="text-warning"><%=user.usuario%></span></h2>
          <p>En LoboAmigo, estamos emocionados de tenerte con nosotros. Somos más que una plataforma; somos una comunidad dedicada a impulsar y destacar los negocios locales.
            Descubre una nueva forma de conectarte con negocios increíbles en tu área. Desde acogedoras cafeterías hasta tiendas especializadas, aquí encontrarás experiencias únicas y apoyarás a emprendedores locales.
            Explora, descubre y comparte tus experiencias. Cada negocio tiene su propia historia, y estamos aquí para ayudarte a descubrirla. Únete a nuestra comunidad, califica tus lugares favoritos y comparte tus hallazgos con otros amantes de los negocios locales. 
            Gracias por ser parte de LoboAmigo. ¡Que tu experiencia sea tan especial como los negocios que descubrirás!
            Bienvenido nuevamente,
            El Equipo de LoboAmigo</p>
        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <div class="p-4 rounded">
          <img src="https://pensadorqueretano.com/wp-content/uploads/2023/08/71_273_41881_69107738_MOVILIDAD_01_28_08-1.jpg" class="img-fluid rounded" alt="Imagen de Presentación">
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="p-4 rounded" style="background-color: #002855; color: #fff;">
          <h3>Orgullo UTSJR!</h3>
          <p>¡Bienvenido a nuestra comunidad universitaria, donde el orgullo y la excelencia se encuentran en cada rincón! Aquí, no solo nos esforzamos por alcanzar la cima del conocimiento, sino que también celebramos la diversidad, la creatividad y el espíritu emprendedor. En nuestra universidad, cada logro es una victoria compartida, y cada desafío es una oportunidad para crecer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-4 rounded" style="background-color: #00a778;">
          <h3>Conoce a tu Equipo!</h3>
          <p>Este proyecto fue desarrollado por cuatro alumnos de la carrera de Desarrollo de Software Multiplataforma de la Universidad Tecnologica de San Juan del Rio, de cuarto cuatrimestre. Con la intencion de desarrollar un proyecto original e innovador que les proporcione a los alumnos de esta universidad una plataforma para compartir sus ideas de negocios y/o proyectos.</p>
        </div>
      </div>
    </div>
</div>


  <div class="container text-center mt-5">
    <p>&copy; 2023 LoboAmigo</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<%- include ("../templates/pie") %>
