<%- include("../templates/encabezado")%>

<style>
    body {
        background-image: url('https://anton.com.mx/wp-content/uploads/2020/08/71_273_30747_1562583360_5.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
</style>
<div class="container mt-5">
    <form action="/nuevousuario" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 class="text-center">REGISTRO</h1>
            </div>
            <div class="card-body2">
                <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control" type="text" name="password" id="password" placeholder="Password">
                <label for="opciones">Selecciona tu Cuatrimestre:</label>
                <select class="form-control2" id="cuatri" name="cuatri">
                    <option value="Cuatrimestre 1">Cuatrimestre 1</option>
                    <option value="Cuatrimestre 2">Cuatrimestre 2</option>
                    <option value="Cuatrimestre 3">Cuatrimestre 3</option>
                    <option value="Cuatrimestre 4">Cuatrimestre 4</option>
                    <option value="Cuatrimestre 5">Cuatrimestre 5</option>
                    <option value="Cuatrimestre 6">Cuatrimestre 6</option>
                </select>
                <label for="opciones">Selecciona tu Carrera:</label>
                <select class="form-control2" id="carrera" name="carrera">
                    <option value="Desarrollo de software multiplataforma ">Desarrollo de software multiplataforma</option>
                    <option value="Mecatronica">Mecatronica</option>
                    <option value="Ingeniera civil">Ingeniera civil</option>
                </select>
                <input class="form-control" type="file" name="foto" id="foto" placeholder="Seleccionar Archivo">
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Guardar </button>
                <button class="btn btn-secondary" type="reset">borrar</button>
            </div>
        </div>
    </form>
</div>



<%- include("../templates/pie")%>